*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}

header{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    padding-left: 50%;
}

h1{
    display: flex;
    width: 30%;
    bottom: 2%;
    /* float: left; */
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 150%;
    position: relative;
}

nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 0, 208);
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.main-text{
    margin-top: 10%;
}

/* .main-text span{
    color: rgb(255, 0, 98);
}  */

/* About Section */

#about{
    padding: 500% , 0;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col1{
    flex-basis: 35%;
}

.col2{
    flex-basis: 60%;
}

.sub-headings{
    display: flex;
    margin: 20px 0 40px;
}

.sh-links{
    margin-right: 50px;
    font-size: 130%;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.sh-links::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 0, 208);
    left: 0;
    bottom: -6px;
    position: absolute;
    transition: 0.5s;
}

.sh-links.active-link::after{
    width: 50%;
}

.sh:hover::after{
    width: 100%;
}

.sh-contents ul li{
    list-style: none;
    margin: 20px 0 ;
}

.sh-contents ul li span{
    color: aqua;
}

.sh-contents{
    display: none;
}

.sh-contents.active-tab{
    display: block;
}

/* Experience Section */

#experience{
    padding: 30px, 0;
}

.exp-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.exp-list div{
    background-color: rgba(95, 95, 95, 0.603);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.exp-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15%;
}

.exp-list div:hover{
    background: rgb(202, 1, 68);
    transform: translateY(-10px);
}

#projects{
    padding: 50px 0;
}

.pro-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.pros{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 50%;
    margin-left: 20%;
}

.pros img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.pro-desc{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff005183);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0, 40px;
    text-align: center;
    transition: height 0.5s;
}

.pros:hover img{
    transform: scale(1.1);
}

.pros:hover .pro-desc{
    height: 100%;
}

/* Contact Section */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: aliceblue;
    display: inline-block;
}

.social-icons a img{
    height: 10%;
    width: 10%;
}

.btn{
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    display: inline-block;
    background: #ff004f;
    cursor: pointer;
}

.btn:hover{
    background: rgba(131, 131, 131, 0.712);
}

.contact-right form{
    width: 80%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    background: rgba(95, 95, 95, 0.671);
    padding: 15px;
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 6px;
}

footer{
    width: 100%;
    text-align: right;
    padding: 25px, 0;
    background: #262626 ;
}

/* Media Queries */

nav .fas{
    display: none;
    margin-left: 80%;
}

@media only screen and (max-width: 600px){
    .main-text{
        margin-top: 100%;
        font-size: 16px;
    }
    
    .main-text h1{
        font-size: 30px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -300px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-tite{
        font-size: 40px;
    }

    .col1, .col2{
        flex-basis: 100%;
    }

    .col1{
        margin-bottom: 30px;
    }

    .col2{
        font-size: 14px;
    }

    .sh-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    footer{
        font-size: 14px;
    }
}

#msg{
    color: bisque;
    display: block;
}